.textoMain {
  background-color: none;
  padding-left: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.textoTestim {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.textIndex {
  margin-top: 30px;
  margin-right: 50px;
}

.titulos {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  max-width: 550px;
  font-size: 60px;
  line-height: 55px;
}

h3 {
  font-size: 23px;
  font-weight: 800;
  font-family: "DM Serif Text", serif;
}

.headTitulo {
  font-weight: 600;
  font: "Titillium Web", sans-serif;
  color: #6d6d6d;
  font-size: 20px;
}

.textIndex {
  padding-bottom: 5px;
}

.textContacto {
  background-color: none;
}

.tituloProductoOk {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding: 70px 20px 0px 20px;
}

.textoProductos {
  padding: 20px 20px 0 20px;
  text-align: center;
}

.titulosprod {
  padding-top: 30px;
  font-weight: 600;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.navbar {
  min-height: 12s 100px;
  background-color: #5d635c;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #e6e6e6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-toggler {
  font-size: 40px;
  color: white;
}

.logoNBK {
  min-width: 200px;
  max-width: 220px;
}

/*INICIO ESTILO TESTIMONIOS*/
.textoTestimonios {
  color: #333;
  text-align: center;
  position: relative;
  margin: 25px 0 50px;
  font-weight: 800;
  font-family: 'DM Serif Text', serif;
  max-width: 550px;
  font-size: 60px;
  line-height: 55px;
}

.carousel {
  width: 800px;
  margin: 20px auto;
  padding-bottom: 60px;
}

.carousel .carousel-item {
  color: #999;
  padding: 20px;
  font-size: 17px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .carousel-item a {
  color: #eb7245;
}

.carousel .img-box {
  width: 155px;
  height: 155px;
  margin: 0 auto;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}

.carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}

.carousel-control-prev, .carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #5d635c;
  text-shadow: none;
  top: 4px;
}

.carousel-control-prev i, .carousel-control-next i {
  font-size: 20px;
  margin-right: 2px;
}

.carousel-control-prev {
  left: auto;
  right: 40px;
}

.carousel-control-next i {
  margin-right: -2px;
}

.carousel .carousel-indicators {
  bottom: 15px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}

.carousel-indicators li.active {
  background: #888;
}

/*FIN ESTILO TESTIMONIOS*/
.textoMain {
  background-color: none;
  padding-left: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.textoTestim {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.textIndex {
  margin-top: 30px;
  margin-right: 50px;
}

.titulos {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  max-width: 550px;
  font-size: 60px;
  line-height: 55px;
}

h3 {
  font-size: 23px;
  font-weight: 800;
  font-family: "DM Serif Text", serif;
}

.headTitulo {
  font-weight: 600;
  font: "Titillium Web", sans-serif;
  color: #6d6d6d;
  font-size: 20px;
}

.textIndex {
  padding-bottom: 5px;
}

.textContacto {
  background-color: none;
}

.tituloProductoOk {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding: 70px 20px 0px 20px;
}

.textoProductos {
  padding: 20px 20px 0 20px;
  text-align: center;
}

.titulosprod {
  padding-top: 30px;
  font-weight: 600;
}

.textoMain {
  background-color: none;
  padding-left: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.textoTestim {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.textIndex {
  margin-top: 30px;
  margin-right: 50px;
}

.titulos {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  max-width: 550px;
  font-size: 60px;
  line-height: 55px;
}

h3 {
  font-size: 23px;
  font-weight: 800;
  font-family: "DM Serif Text", serif;
}

.headTitulo {
  font-weight: 600;
  font: "Titillium Web", sans-serif;
  color: #6d6d6d;
  font-size: 20px;
}

.textIndex {
  padding-bottom: 5px;
}

.textContacto {
  background-color: none;
}

.tituloProductoOk {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding: 70px 20px 0px 20px;
}

.textoProductos {
  padding: 20px 20px 0 20px;
  text-align: center;
}

.titulosprod {
  padding-top: 30px;
  font-weight: 600;
}

.pruebaExtend, .pruebaExtend-dos {
  background-color: blue;
  width: 400px;
  height: 100px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  padding: 60px;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 20px;
}

.pruebaExtend-dos {
  background-color: #5d635c;
  color: white;
}

.imgEffects {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.imgEffects:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.imgImg {
  background-color: none;
  padding-left: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contentCenter {
  max-width: 100px;
  text-align: left center;
  background-color: greenyellow;
  margin: 60px;
}

.imgMain {
  background-color: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* INICIO CARD CONTACTO*/
.card {
  background-color: whitesmoke;
  max-width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px;
}

/* FIN CARD CONTACTO*/
/* FOOTER*/
.envioGratis {
  min-height: 12s 0px;
  background-color: #a3aa9f;
  text-align: center;
  color: azure;
  margin-top: 10px;
  padding: 06px;
  font-weight: 600;
  font-size: 12px;
}

.paddingpreFooter {
  margin: 100px;
}

.copyrightFooter {
  font-size: 12px;
}

/* FIN FOOTER*/
.textoMain {
  background-color: none;
  padding-left: 80px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.textoTestim {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.textIndex {
  margin-top: 30px;
  margin-right: 50px;
}

.titulos {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  max-width: 550px;
  font-size: 60px;
  line-height: 55px;
}

h3 {
  font-size: 23px;
  font-weight: 800;
  font-family: "DM Serif Text", serif;
}

.headTitulo {
  font-weight: 600;
  font: "Titillium Web", sans-serif;
  color: #6d6d6d;
  font-size: 20px;
}

.textIndex {
  padding-bottom: 5px;
}

.textContacto {
  background-color: none;
}

.tituloProductoOk {
  font-weight: 800;
  font-family: "DM Serif Text", serif;
  font-size: 60px;
  line-height: 55px;
  padding: 70px 20px 0px 20px;
}

.textoProductos {
  padding: 20px 20px 0 20px;
  text-align: center;
}

.titulosprod {
  padding-top: 30px;
  font-weight: 600;
}

.probandoMixin {
  color: green;
  font-size: 30px;
  font-family: "DM Serif Text", serif;
  margin-left: 50px;
}

.tarjeta {
  margin-top: 110px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-radius: 25px;
}

.hoverImg:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.tarjeta:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.text1 {
  font-size: 16px;
  color: #999999;
}

.star {
  color: #5d635c;
}

.precioStrong span {
  color: #2462BC;
  font-weight: bold;
  font-size: 20px;
}

.fStrong {
  background: #2462BCed;
}

/* card 2 Formul Soft */
.precioSoft span {
  color: #19a0b8;
  font-weight: bold;
  font-size: 20px;
}

.fSoft {
  background: #19a0b8;
}

/* card 2 Formul Pets */
.precioPets span {
  color: #040681;
  font-weight: bold;
  font-size: 20px;
}

.fPets {
  background: #040681;
}

/* efecto hover sobre boton */
.fStrong:hover, .fSoft:hover, .fPets:hover {
  opacity: 0.8;
}

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*# sourceMappingURL=index.css.map */