
$font-a:'DM Serif Text', serif;
$font-b: 'Titillium Web', sans-serif;

$tituloFont:
(font-weight: 800,
font-family: $font-a,
max-width: 550px,
font-size: 60px,
line-height: 55px);


.textoMain{
    background-color: none;
    padding-left: 80px;
    padding-top: $pTop;
    padding-bottom: 40px;}
  
.textoTestim{
      font-weight: 800;
      font-family: $font-a;
      font-size: 60px;
      line-height: 55px;
      padding-top: 50px;
      padding-bottom: 30px;
    }

.textIndex{
      margin-top: 30px;
      margin-right: 50px;
      }

.titulos{
    font-weight: 800;
    font-family: $font-a;
    max-width: 550px;
    font-size: 60px;
    line-height: 55px;
      }

h3{
    font-size: 23px;
    font-weight: 800;
    font-family: $font-a;
  }

.headTitulo{
  font-weight: 600;
  font: $font-b;
  color: rgb(109, 109, 109);
  font-size: 20px;
}

.textIndex{
  padding-bottom: 5px;
}
.textContacto {
    background-color: none;
  }

.tituloProductoOk{
  font-weight: 800;
  font-family: $font-a;
  font-size: 60px;
  line-height: 55px;
  padding: 70px 20px 0px 20px;
}


.textoProductos {
  padding: 20px 20px 0 20px;
  text-align: center;
}

.titulosprod{
  padding-top: 30px;
  font-weight: 600;
}

