
  /* FOOTER*/

  .envioGratis{
    min-height: 12s 0px;
    background-color: #a3aa9f;
    text-align: center;
    color: azure;
    margin-top: 10px;
    padding: 06px;
    font-weight: 600;
    font-size: 12px;
   }

  .paddingpreFooter{
    margin: 100px;
  }
  .copyrightFooter {
    font-size: 12px;
    text-align: center;
  }

/* FIN FOOTER*/


